body {
  background-color: #ffffff;
}


h1 {
    background-color: #00ff00;
    text-align: center;
}

canvas {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 25px;
    margin: 0 auto;
}

div.scroll {
    height: 50px;
    width: 80%;
    overflow: auto;
    border: 1px solid #666;
    background-color: #ccc;
    padding: 8px;
}

#plot_container {
    /* display: inline-block; */
    float: left;
    width: 50%;
    margin: 5px;
}

#results_container {
    /* display: inline-block; */
    float: left;
    width: 45%;
    margin: 5px;
}

#instructions {
    text-align: center;
}

#canvas_container {
    margin: 0 7.5%;
}

#menu_list {
    display: inline;
}