body {
  background-color: #ffffff;
  font-family: Tahoma, Geneva, sans-serif;
}


h1 {
    text-align: center;
    /* font-family: Calibri; */
}

canvas {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 25px;
    margin: 0 auto;
}

div.scroll {
    height: 50px;
    width: 80%;
    overflow: auto;
    border: 1px solid #666;
    background-color: #eee;
    padding: 8px;
}

#plot_container {
    /* display: inline-block; */
    float: left;
    width: 50%;
    margin: 5px;
}

#results_container {
    /* display: inline-block; */
    float: left;
    width: 45%;
    margin: 5px;
}

#instructions {
    text-align: center;
}

#canvas_container {
    margin: 0 7.5%;
}

#menu {
    width: 100%;
    height: 35px;
    margin: 0 auto;
    text-align: center;
    background-color: #ddddff;
    /* border-radius: 8px; */
    font-size: 16px;
    font-weight: bold;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li {
    display: inline;
    padding: 20px;
}

#menu a {
    text-decoration: none;
    color: #0000bb;
    padding: 8px;
}

#menu a:hover {
    background-color: #eeeeff;
}

/* #menu a:after { */
/*     content: ""; */
/*     padding: 20px; */
/*     /\* position: absolute; *\/ */
/*     left: -10px; */
/*     top: -10px; */
/* } */

#header_title a {
    color: black;
    text-decoration: none;
}

#centred_body {
    width: 768px;
    margin: 0 auto;
}