html {
       overflow-y: scroll;
}

body {
  background-color: #ffffff;
  font-family: "Arial Black", Gadget, sans-serif;
}


h1 {
    text-align: center;
    /* font-family: Calibri; */
}

canvas {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 25px;
    margin: 0 auto;
}

#analyse_button_container {
    padding-top: 80px;
    text-align: center;
}

div.scroll_title {
    width: 21%;
    margin-top: 14px;
    float: left;
}

div.gauss_code {
    float: left;
    height: 52px;
    width: 78%;
    overflow: auto;
    border: 1px solid #666;
    background-color: #eee;
    padding: 0px;
    margin-bottom: 10px;
}

div.scroll {
    height: 50px;
    width: 70%;
    overflow: auto;
    border: 1px solid #666;
    background-color: #eee;
    padding: 8px;
}

#plot_container {
    /* display: inline-block; */
    float: left;
    width: 50%;
    margin: 5px;
}

#results_container {
    /* display: inline-block; */
    float: left;
    width: 45%;
    margin: 5px;
}

#instructions {
    text-align: center;
}

#canvas_container {
    margin: 0 7.5%;
}

div.center_thin {
    width: 90%;
    margin: 0% 5%;
    padding-top: 30px;
}

#menu {
    width: 100%;
    height: 35px;
    margin: 0 auto;
    text-align: center;
    background-color: #ddddff;
    /* border-radius: 8px; */
    font-size: 16px;
    font-weight: bold;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li {
    display: inline;
    padding: 20px;
}

#menu a {
    text-decoration: none;
    color: #0000bb;
    padding: 8px;
}

#menu a:hover {
    background-color: #eeeeff;
}

/* #menu a:after { */
/*     content: ""; */
/*     padding: 20px; */
/*     /\* position: absolute; *\/ */
/*     left: -10px; */
/*     top: -10px; */
/* } */

#header_title a {
    color: black;
    text-decoration: none;
}

#centred_body {
    width: 768px;
    margin: 0 auto;
}

div.disabled_notice {
    margin-left: 10px;
    display: inline;
    color: #880000;
    background-color: #ffeeee;
    padding: 3px 7px 3px 7px;
    border-radius: 10px;
    /* border: solid; */
    /* border-width: 1px; */
    border-color: #cc0000;
}

div.enabled_notice {
    margin-left: 10px;
    display: inline;
    color: #008800;
    background-color: #eeffee;
    padding: 3px 7px 3px 7px;
    border-radius: 10px;
    /* border: solid; */
    /* border-width: 1px; */
    border-color: #00cc00;
}

div.centred {
    text-align: center;
}

div.error_flash {
    margin: 15px auto;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    background-color: #dd2222;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    border: solid;
    border-color: #ff0000;
}

svg {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 25px;
    background-color: #eee;
    margin: 0 auto;
}

/* #gc_output { */
/*     font-weight: bold; */
/* } */

/* svg { */
/*     border-style: solid; */
/*     border-width: 100px; */
/*     border-color: black; */
/*     background-color: #eee; */
/*     margin: 0 auto; */
/* } */

input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  /* clear: both; */
  /* float: right; */
}

#draw_form {
    text-align: center;
    padding: 10px;
}


/* Loader from http://projects.lukehaas.me/css-loaders/#load1 */
.loader,
.loader:before,
.loader:after {
    background: #aaaaff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
}
.loader {
    text-indent: -9999em;
    margin: 8em auto;
    position: relative;
    font-size: 11px;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:after {
    left: 1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #aaaaff;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #aaaaff;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #aaaaff;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #aaaaff;
        height: 5em;
    }
}


.invariants {
    padding-top: 15px;
}

.invariants td {
    padding: 5px;
    text-align: center;
    border: 2px solid white;
    background-clip: padding-box;
    border-radius: 5px;
}


.alignleft {
    text-align: left;
}

.invariants th {
    background-color: #ddddff;
    font-weight: bold;
    padding: 5px;
    background-clip: padding-box;
    border: 2px solid white;
    background-clip: padding-box;
    border-radius: 5px;
}

.invariants td.test {
    background-color: #FFF;
}

.invariants td.invariant {
    background-color: #eeeeff;
}

.invariants td.fact {
    background-color: #deffde;
}

.invariants td.identification {
    background-color: #ffeeee;
}

.invariants td + td {
    width: 50%;
}