{% extends "body_center.html" %}

{% block header_title %}
: About
{% endblock %}

{% block title %}
About - Knot identifier
{% endblock %}

{% block body_centre %}
<h2>Technical details</h2>
<p>
These tools run mainly on Python and Cython. The web interface uses
Flask. Topological invariants are calculated using mainly our own
numerical implementations (intended to be referenced
somewhere). Cypari is used for symbolic calculation of the Alexander
polynomial, and Snappy for the hyperbolic volume. Three dimensional
visualisations use three.js, and the drawing interface uses two.js.
</p>
{% endblock %}
