{% extends "body_center.html" %}

{% block header_title %}
: About
{% endblock %}

{% block title %}
About - Knot ID
{% endblock %}

{% block body_centre %}

<h2>Knot ID</h2>

<p>
    Knot ID is developed as part of the <a href="http://www.maths.dur.ac.uk/spock/index.html/">Scientific Properties of Complex
    Knots (SPOCK) Programme Grant</a>, a collaboration between Durham
    University and the University of Bristol funded by the Leverhulme
    Trust.
</p>

<p>
    Knot ID is powered by the <a href="https://github.com/spocknots/pyknotid">pyknotid Python package</a>. You
    can install this yourself to run knot analysis offline locally,
    including many tools not available via the online interface.
</p>

<h2 id="contactus">Contact us</h2>

This site is maintained primarily by Alexander Taylor. Emails with
questions or comments are welcome at <a href="mailto:alexander.taylor@bristol.ac.uk">alexander.taylor@bristol.ac.uk</a>.

{% endblock %}
