<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8">
        <link href="static/style.css" rel="stylesheet" type="text/css">
        <title>
        {% block title %}
        Knot ID
        {% endblock %}
        </title>
        
        <link rel="icon" 
              type="image/png" 
              href="/favicon.png">
    </head>

    <body>
        
        <h1 id="header_title">
            <a href="{{ url_for('main') }}">Knot ID</a>{% block header_title %}{% endblock %}
        </h1>
        
        {% block menu %}
        <div id="menu">
            <ul id="menu_list">
                <li><a href="{{ url_for('main') }}">Home</a></li>
                <li><a href="{{ url_for('main') }}">Spacecurve</a></li>
                <li><a href="{{ url_for('draw') }}">Draw</a></li>
                <li><a href="{{ url_for('gausscode') }}">Gauss code</a></li>
                <li><a href="{{ url_for('documentation') }}">Documentation</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </div>
        {% endblock %}

        {% block body %}
        {% endblock %}

    </body>

</html> 
