
{% extends "body_center.html" %}

{% block header_title %}
: Documentation
{% endblock %}

{% block title %}
Documentation - Knot ID
{% endblock %}

{% block body_centre %}

<h2>Using the Knot ID tools</h2>

<p>These tools are in early release, and it is possible that you will
    encounter bugs. If you do, we'd love to <a href="{{ url_for('about') }}#contactus">hear about it</a>.</p>

You can upload a knot for analysis in several different ways:

<ul class="inline">
    <li>
        <a class="header" href="{{ url_for('main') }}">Upload a space curve</a>: Load
        a data file describing a line (or lines) in 3D space, and
        receive information about whether it is knotted or linked.
    </li>
    <li>
        <a class="header" href="{{ url_for('main') }}">View a torus knot</a>: The
        torus knots are a special class of knots, those that can be
        confined to the surface of a torus. Choose the two winding
        numbers about the torus that describe such a knot to view the
        result and its topological characteristics.
    </li>
    <li>
        <a class="header" href="{{ url_for('draw') }}">Draw a knot diagram</a>:
        Create the drawing in our online interface then upload to view
        topological information about its shape.
    </li>
    <li>
        <a class="header" href="{{ url_for('gausscode') }}">Upload a Gauss code</a>:
        Provide this standard representation of the crossings in a
        knot, and receive topological information about the object it
        encodes.
    </li>
</ul>

<h2>Identifying knots and links</h2>

<p>
    These tools identify knots and links through the calculation of <emph>topological
    invariants</emph>. These are functions of the curve(s) that do not
    vary if they are distorted, unless one strand of the knot is cut or
    otherwise passes through another such that the knot type does
    change. In fact, the full three dimensional shape of the knot is not
    important and all the information needed to calculate such invariants
    is contained in the list of self intersections of a two-dimensional
    projection of the curve. This information can be written in many
    different ways, of which one simple example is the <a href="http://katlas.org/wiki/Gauss_Codes">Gauss code</a> as used
    by most of the tools on this site.
</p>

<p>
    The invariants calculated are explained briefly in the following
    sections, and then their values used to look up matching knots, those
    with the same values for each invariant. This lookup currently only
    searches for prime knots, using the Alexander polynomial evaluated at
    -1, \(\exp(2\pi i/3)\) and i, along with the number of
    crossings in the uploaded representation after performing basic
    topology-preserving simplification (via the first two <a href="http://en.wikipedia.org/wiki/Reidemeister_move">Reidemeister moves</a>).
    We intend to also compare other, more powerful invariants in the
    future.  Our lookup table is based on the <a href="http://katlas.org/wiki/Main_Page">Knot Atlas</a> Take
    Home Database, and includes knots with up to 15 crossings.
</p>

<p>Resulting knot identifications are labelled as 'unambigous' if the
    number of crossings is less than 14, or incomplete otherwise. In both
    cases, more than one match may be returned, which cannot be
    distinguished using the invariants of the lookup. Note that in neither
    case are <a href="http://en.wikipedia.org/wiki/Prime_knot">composite knots</a> considered; the analysed knot may in fact be
    composite even if the result is labelled unambiguous.
</p>

<h2>Topological invariants</h2>

<h3>The Alexander Polynomial \(\Delta(t)\)</h3>

<p>
    An invariant that associates a polynomial with each knot. Some knots
    have the same value of this polynomial even at relatively low crossing
    numbers, so the Alexander polynomial is far from a perfect knot
    discriminator, but it is easily calculable in \(O(n^2)\) for n
    crossings and so is very convenient; most polynomial invariants scale
    much less well.
</p>

<p>
    We calculate the Alexander polynomial via a standard matrix
    determinant algorithm, as described in e.g. <a href="http://journals.aps.org/rmp/abstract/10.1103/RevModPhys.79.611">here</a>.
</p>

<h3>The Determinant and \(|\Delta(\exp(2\pi i/n)|\)</h3>

<p>
    The determinant invariant is the Alexander polynomial evaluated at
    -1. We also use the evaluations at \(\Delta(\exp(2\pi i/3)\) and i,
    which have the convenient property of being guaranteed to be integers
    (higher order roots of unity generally do not). These are all much
    easier to calculate than the full symbolic Alexander polynomial, as
    numerically finding the determinant of a real or complex matrix is
    much easier than for a symbolic matrix, but for simple knots the
    results are almost as discriminating at the full Alexander polynomial.
</p>

<h3>Vassiliev invariants</h3>

<p>
    The Vassiliev invariants form an infinite family that together are
    strictly more powerful than the Alexander polynomial (and other common
    polynomial invariants), with the advantage that they can be calculated
    in polynomial time (although higher orders are still impractical). The
    Vassiliev invariants of order 2 and 3 are included in the results from
    these tools, though the latter only when there are fewer than 20
    crossings in the knot projection used. 
</p>

<p>
    We calculate these invariants via the Gauss diagram algorithm of <a href="http://imrn.oxfordjournals.org/content/1994/11/445.citation">Polyak
    and Viro</a>, <emph>Internat Math Res Notices</emph> <b>1994</b>,
    445-453 (1994).
</p>

<h3>The hyperbolic volume</h3>

<p>
    This is the volume of the complement of the knot or the link with
    respect to its hyperbolic metric (if it admits one). It is useful
    because tools are available to calculate it quite efficiently (see
    below), because it is a powerful invariant that distinguishes many
    knots, and also because it identifies many prime knots; all knots
    with non-zero hyperbolic volume are prime.
</p>

<p>
    We calculate the hyperbolic volume via <a class="header" href="http://www.math.uic.edu/t3m/SnapPy/index.html">SnapPy</a>,
    a program for studying 3-manifolds. However, this is not yet
    enabled on the server, and so the hyperbolic volume does not yet
    appear in the knot analysis.
</p>

<h3>Other invariants</h3>

<p>
    There are many other knot invariants, including more powerful ones
    that would distinguish even some knots that appear identical by
    the measures above. However, these are in general much harder to
    calculate including scaling less well with the number of
    crossings in a projection of the knot, and for this reason are not
    calculated by these tools.
</p>

<p>There are many other resources for learning about different knot
    invariants, including the general discussion of <a href="http://en.wikipedia.org/wiki/Knot_invariants">Wikipedia</a> and deeper technical description at the <a href="http://katlas.org/wiki/Invariants">Knot Atlas</a>. Also
    see the Other Resources section below.
</p>

<h2>Technical details</h2>
<p>
    These tools run largely on Python and Cython, calculating
    topological invariants largely through our own numerical
    implementations but also calling external tools including SnapPy
    for the hyperbolic volume and PARI/GP (via Cypari) for symbolic
    matrix manipulation in the calculation of the Alexander
    polynomial.
</p>

<p>
    This web interface is build with Flask. Three dimensional
    visualisations are drawn using three.js, and the 2D drawing
    interface uses two.js.
</p>

<h2>Other resources</h2>

<ul class="inline" >
    <li><a class="header" href="http://katlas.org/wiki/Main_Page">The Knot Atlas</a>:
        A large wiki of topological information, including
        explanations of many of the concepts mentioned above and links
        to many further resources. This also documents the KnotTheory`
        Mathematica package which implements many advanced topological
        routines.</li>
    <li>The <a class="header" href="http://www.indiana.edu/~knotinfo/">KnotInfo</a> and <a class="header" href="http://www.indiana.edu/~linkinfo/">LinkInfo</a> tables
        of knot and link invariants: These catalogue many invariants and
        other properties of knots and links within the known tabulations,
        easily browsable via a web interface.</li>
    <li><a class="header" href="http://www.math.uic.edu/t3m/SnapPy/index.html">SnapPy</a>:
        A program for studying the topology and geometry of
        3-manifolds. Along with many other useful routines, SnapPy can
        efficiently calculate the hyperbolic volume.</li>
</ul>

<script type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
</script>
{% endblock %}
