
{% extends "body_center.html" %}

{% block header_title %}
: Dowker-Thistlethwaite upload
{% endblock %}

{% block title %}
Dowker-Thistlethwaite upload - Knot ID
{% endblock %}

{% block body_centre %}

<p>
    Enter a <a href="http://katlas.org/wiki/DT_(Dowker-Thistlethwaite)_Codes">Dowker-Thistlethwaite (DT) code</a> below,
    as a space-separated sequence of numbers. For instance, a DT code for the figure eight knot could be <tt>4 6 8 2</tt>.
</p>

<div class="centred">
  <textarea name="dtcode" cols="40" rows="5" id="dtcode_box"></textarea>
  <br>
            <button onClick="uploadDTCode()">
                analyse DT code
            </button>
</div>

<div id="analysis_result">
</div>

<script>
function uploadDTCode() {
    console.log('called!');
    var resultElem = document.getElementById('analysis_result');
    resultElem.innerHTML = '<div class="loader">Loading...</div>'
    
    var inputElem = document.getElementById('dtcode_box');
    var DTCode = inputElem.value;

    var request = new XMLHttpRequest();
    request.open('GET', 'api/analyse?dtcode=' + DTCode.split(' ').join('b'), true);
    request.send();
    request.onreadystatechange = function() {
        if (request.readyState == 4 && request.status == 200) {
            resultElem.innerHTML = request.responseText;
            MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
        }
    }
}
</script>

<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
</script>

{% endblock %}
