{% extends "base.html" %}

{% block header_title %}
: Draw
{% endblock %}

{% block title %}
Draw - Knot identifier
{% endblock %}

{% block body %}
<script src="static/two.js"></script>
<p>
  Click to draw
</p>

<form action="" id="draw_form">
    <div id="form_container">
    include closure <input type="checkbox"  name="include_closure" value="include_closure" onChange="changeClosure()" id="closure_checkbox">
    <br>
    translucent crossings <input type="checkbox"  name="translucency" value="translucency" onChange="changeTranslucency()"id="translucency_checkbox">
    </div>
</form>

    <div id="draw_page">
    
    <div id="draw-shapes" ondragstart="return false;" ondrop="return false;">
    </div>

    <script src="static/draw.js"></script>
    </div>

<p id="gc_output">
  Gauss code: <strong>----</strong>
</p>
    
    

{% endblock %}
