{% extends "body_center.html" %}

{% block header_title %}
: Gauss code analysis
{% endblock %}

{% block title %}
Gauss code analysis - Knot ID
{% endblock %}

{% block body_centre %}

<p>
    Enter a Gauss code below, as a comma-separated list of numbers
    followed by + for an over-crossing or - for an under-crossing,
    e.g. 1-,2+,3-,1+,2-,3+ for the trefoil knot.
</p>

<p>
    You may optionally include crossing orientations as 'c' for
    positive ('clockwise') or 'a' for negative ('anticlockwise'),
    e.g. 1-c,2+c,3-c,1+c,2-c,3+c for the trefoil knot. If you do not
    include this information, the chirality of the knot will be
    selected arbitrarily.
</p>


<div class="centred">
  <textarea name="gausscode" cols="40" rows="5" id="gausscode_box"></textarea>
  <br>
            <button onClick="uploadGaussCode()">
                analyse Gauss code
            </button>
</div>

<div id="analysis_result">
</div>

<script>
function uploadGaussCode() {
    console.log('called!');
    var resultElem = document.getElementById('analysis_result');
    resultElem.innerHTML = '<div class="loader">Loading...</div>'
    
    var inputElem = document.getElementById('gausscode_box');
    var gaussCode = inputElem.value;

    var request = new XMLHttpRequest();
    request.open('GET', 'api/analyse?gausscode=' + gaussCode.split('+').join('b'), true);
    request.send();
    request.onreadystatechange = function() {
        if (request.readyState == 4 && request.status == 200) {
            resultElem.innerHTML = request.responseText;
            MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
        }
    }
}
</script>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML">
</script>

{% endblock %}
