{% extends "body_center.html" %}  

{% block body_centre %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="centred">
{% for message in messages %}
<div class="error_flash">{{ message }}</div>
{% endfor %}
<br>
Please try again:
</div>
{% endif %}
{% endwith %}

  <h2>Upload from file</h2>
  <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="pointsfile" size="40" onchange="checkFile()" id="file_selector">
    <br><br>
    <input type="submit" value="Upload" id="file_button"> <div id="file_check"></div>
  </form>
  
  <script>
   function checkFile() {
       var fileElement = document.getElementById( 'file_selector' );
       var fileCheckText = document.getElementById( 'file_check' );
       var button = document.getElementById( 'file_button' );

       if ( fileElement.value != "" ) {
           fileCheckText.className = 'enabled_notice';
           fileCheckText.innerHTML = 'File selected';
           button.disabled = false;
       } else {
           fileCheckText.className = 'disabled_notice';
           fileCheckText.innerHTML = 'No file selected';
           button.disabled = true;
       }
   }
   
   checkFile()
  </script>

  <h2>Upload from paste</h2>
  <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <textarea name="pointstext" rows="3" cols="80" oninput="checkPaste()" id="paste_box"></textarea>
    <br><br>
    <input type="submit" value="Upload" id="paste_button"> <div id="paste_check"></div>
  </form>
  
  <script>
   function checkPaste() {
       var pasteElement = document.getElementById( 'paste_box' );
       var pasteCheckText = document.getElementById( 'paste_check' );
       var button = document.getElementById( 'paste_button' );
       
       console.log( pasteElement.value );
       
       if ( pasteElement.value != "") {
           pasteCheckText.className = 'enabled_notice';
           pasteCheckText.innerHTML = 'Paste box contains text';
           button.disabled = false;
       } else {
           pasteCheckText.className = 'disabled_notice';
           pasteCheckText.innerHTML = 'Paste box is empty';
           button.disabled = true;
       }
   }
   
   checkPaste();
  </script>
  
  <h2>Torus knots</h2>
  
  <p>Enter integers p and q for the knot. p is the number of times it
  winds through the hole of the torus, and q the number of times it
  winds around the edge. The knot will be approximated by a piecewise
  linear curve with 300 segments, and so high p and q values may give
  incorrect results.</p>
      
  <p>p and q must (for now) be coprime; this guarantees that the
  result is a single-component knot.</p>
  
  <form action="{{ url_for('upload') }}" method="GET">
      <input type="hidden" name="mode" value="torus">
      p = <input type="text" name="p" oninput="checkGCD()" id="p_text" autocomplete="off" size="5">
      <br>
      q = <input type="text" name="q" oninput="checkGCD()" id="q_text" autocomplete="off" size="5">
      <br><br>
      <input type="submit" value="Upload" id="pq_button"> <div id="pq_check"></div>
  </form>

  <script>
   function gcd(a,b) {
       if (a < 0) a = -a;
       if (b < 0) b = -b;
       if (b > a) {var temp = a; a = b; b = temp;}
       while (true) {
           a %= b;
           if (a == 0) return b;
           b %= a;
           if (b == 0) return a;
       }
   }

   function checkGCD() {
       var p = parseInt( document.getElementById( 'p_text' ).value );
       var q = parseInt( document.getElementById( 'q_text' ).value );
       
       var correctText = document.getElementById( 'pq_check' );
       var button = document.getElementById( 'pq_button' );
       
       if ( !isNaN( p ) && !isNaN( q ) && 
           gcd( parseInt( p ), parseInt( q ) ) === 1 ) {
               correctText.className = 'enabled_notice';
               correctText.innerHTML = 'p and q are coprime';
               button.disabled = false;
       } else {
           var correctText = document.getElementById( 'pq_check' );
           correctText.className = 'disabled_notice';
           correctText.innerHTML = 'p and q are not coprime';
           button.disabled = true;
       }
   }
   
   checkGCD()
  </script>
  
  <h2>Other</h2>
  
  <p>Go to upload page <a href="upload">with GET</a></p>
  
  <p><a href="/upload?mode=torus&p=3&q=3">Try to GET with invalid torus knot parameters</a></p>

{% endblock %}
