{% if num_crossings %}
<p>The initial Gauss code has {{ num_crossings }} crossings.{% if reduced_num_crossings %}{% if reduced_num_crossings == num_crossings %} This could not be reduced by the application of Reidemeister moves 1 or 2.{% else %} This was reduced to {{ reduced_num_crossings }} crossings via Reidemeister moves 1 and 2.{% endif %}{% endif %}</p>
{% endif %}

{% if (simplified_gauss_code and (reduced_num_crossings < num_crossings)) %}
<div class="scroll_title">
    Simplified Gauss code:
</div>
<div class="gauss_code" >
    {{ simplified_gauss_code }}
</div>
{% endif %}


{% if is_virtual %}

<p>The uploaded Gauss code appears to describe a virtual knot, i.e. a
knot diagram that does not correspond to the projection of a closed
space-curve in three dimensions, although it may still be a trivial
knot. If you think this is a mistake or a bug, please contact the
maintainer.</p>

{% if self_linking is defined %}
<p>The self-linking number of the virtual knot is {{ self_linking }}.</p>
{% endif %}

{% else %}

<table class="invariants">
    <tr><th>Invariant</th><th>Value</th></tr>
    <tr>
        <td>Alexander polynomial \(\Delta(t)\)</td>
        {% if alexander %}
        <td>\({{ alexander }}\)</td>
        {% else %}
        <td class="alignleft">
            Didn't calculate the full Alexander polynomial as pari-gp
            isn't installed on this server yet.
        </td>
        {% endif %}
    </tr>


    {% if alex_roots %}
    <tr> 
        <td>Determinant \(|\Delta(-1)|\)</td> 
        <td>{{ alex_roots[0] }}</td>
    </tr>

    <tr>
        <td>\(|\Delta(\exp(2\pi i/3)|\)</td>
        <td>{{ alex_roots[1] }}</td>
    </tr>
    
    <tr>
        <td>\(|\Delta(i)|\)</td>
        <td>{{ alex_roots[2] }}</td>
    </tr>
    
    {% endif %}


    {% if vassiliev_degree_2 is defined %}
    <tr>
        <td>Vassiliev order 2, \(v_2\)</td>
        <td>{{ vassiliev_degree_2 }}</td>
    </tr>
    {% endif %}

    {% if vassiliev_degree_3 is defined %}
    <tr>
        <td>Vassiliev order 3, \(v_3\)</td>
        <td>{{ vassiliev_degree_3 }}</td>
    </tr>
    {% endif %}

    {% if hyp_vol is defined %}
    <tr>
        <td>hyperbolic volume</td>
        <td>{{ hyp_vol }}</td>
    </tr>
    {% endif %}
</table>

{% if identification %}
{% if identification_perfect %}
{% if identification|length == 1 %}
<p>This is knot <a href="http://katlas.org/wiki/{{ identification[0].identifier }}">\({{ identification[0].identifier }}\)</a>{% if identification[0].identifier == '0_1' %}: it is <emph>not</emph> knotted.{% else %}.{% endif %}</p>
{% else %}
<p>This is one of the knots {% for knot in identification %}<a href="http://katlas.org/wiki/{{ knot.identifier }}">{{ knot.identifier }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.</p>
{% endif %}
{% else %}
<p>First 3 Alexander roots and the number of counted crossings match these prime knots (but may also match more):
  {% for knot in identification %}<a href="http://katlas.org/wiki/{{ knot.identifier }}">{{ knot.identifier }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.
</p>
{% endif %}
{% else %}
<p>Could not identify any knots with the same Alexander roots 2, 3, 4.</p>
{% endif %}

{% endif %}  {# ending virtual knot test #}

