{% if simplified_gauss_code %}
<div class="scroll_title">
    Simplified Gauss code:
</div>
<div class="gauss_code" >
    {{ simplified_gauss_code }}
</div>
{% endif %}


{% if is_virtual %}

<p>The uploaded Gauss code appears to describe a virtual knot, i.e. a
knot diagram that does not correspond to the projection of a
space-curve. If you think this is a mistake or a bug, please contact
the maintainer.</p>

{% if self_linking is defined %}
<p>The self-linking number of the virtual knot is {{ self_linking }}.</p>
{% endif %}

{% else %}

{% if alex_roots %}
<p>Determinant is {{ alex_roots[0] }}.</p>

<p>Alexander polynomial evaluated at second and third roots of unity is {{ alex_roots[1] }} and {{ alex_roots[2] }} respectively.</p>
{% endif %}

Didn't calculate the full Alexander polynomial as pari-gp isn't installed on this server yet.
{#
{% if alexander %}
<p>Full alexander polynomial is \({{ alexander }}\).</p>
{% else %}
<p>Didn't calculate full Alexander polynomial. This is only enabled if there are fewer than 50 crossings in the projection.</p>
{% endif %}
#}

{% if vassiliev_degree_2 is defined %}
<p>Vassilev invariant of order 2 is {{ vassiliev_degree_2 }}.</p>
{% endif %}

{% if vassiliev_degree_3 is defined %}
<p>Vassilev invariant of order 3 is {{ vassiliev_degree_3 }}.</p>
{% endif %}

{% if hyp_vol %}
<p>Hyperbolic volume is {{ hyp_vol }}.</p>
{% endif %}

{% if identification %}
{% if identification_perfect %}
{% if identification|length == 1 %}
<p>This is knot <a href="http://katlas.org/wiki/{{ identification[0].identifier }}">{{ identification[0].identifier }}</a>{% if identification[0].identifier == '0_1' %}: it is <emph>not</emph> knotted.{% else %}.{% endif %}</p>
{% else %}
<p>This is one of the knots {% for knot in identification %}<a href="http://katlas.org/wiki/{{ knot.identifier }}">{{ knot.identifier }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.</p>
{% endif %}
{% else %}
<p>First 3 Alexander roots and the number of counted crossings match these prime knots (but may also match more):
  {% for knot in identification %}<a href="http://katlas.org/wiki/{{ knot.identifier }}">{{ knot.identifier }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.
</p>
{% endif %}
{% else %}
<p>Could not identify any knots with the same Alexander roots 2, 3, 4.</p>
{% endif %}

{% endif %}  {# ending virtual knot test #}

