
{% if alex_roots %}
<p>Determinant is {{ alex_roots[0] }}.</p>

<p>Alexander polynomial evaluated at second and third roots of unity is {{ alex_roots[1] }} and {{ alex_roots[2] }} respectively.</p>
{% endif %}

Didn't calculate the full Alexander polynomial as pari-gp isn't installed on this server yet.
{#
{% if alexander %}
<p>Full alexander polynomial is \({{ alexander }}\).</p>
{% else %}
<p>Didn't calculate full Alexander polynomial. This is only enabled if there are fewer than 50 crossings in the projection.</p>
{% endif %}
#}

{% if vassiliev_degree_2 %}
<p>Vassilev invariant of order 2 is {{ vassiliev_degree_2 }}.</p>
{% endif %}

{% if hyp_vol %}
<p>Hyperbolic volume is {{ hyp_vol }}.</p>
{% endif %}

{% if identification %}
<p>First 3 Alexander roots and the number of counted crossings match these prime knots:
  {% for knot in identification %}<a href="http://katlas.org/wiki/{{ knot.identifier }}">{{ knot.identifier }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.
</p>
{% else %}
<p>Could not identify any knots with the same Alexander roots 2, 3, 4.</p>
{% endif %}
