
<form action="{{ url_for('upload') }}" method="GET">
    <input type="hidden" name="mode" value="torus">
    p = <input type="text" name="p" oninput="checkGCD()" id="p_text" autocomplete="off" size="5">
    <br>
    q = <input type="text" name="q" oninput="checkGCD()" id="q_text" autocomplete="off" size="5">
    <br><br>
    <input type="submit" value="Upload" id="pq_button"> <div id="pq_check"></div>
</form>

<script>
 function gcd(a,b) {
     if (a < 0) a = -a;
     if (b < 0) b = -b;
     if (b > a) {var temp = a; a = b; b = temp;}
     while (true) {
         a %= b;
         if (a == 0) return b;
         b %= a;
         if (b == 0) return a;
     }
 }

 function checkGCD() {
     var p = parseInt( document.getElementById( 'p_text' ).value );
     var q = parseInt( document.getElementById( 'q_text' ).value );
     
     var correctText = document.getElementById( 'pq_check' );
     var button = document.getElementById( 'pq_button' );
     
     if ( !isNaN( p ) && !isNaN( q ) && 
         p > 0 && q > 0 &&
         gcd( p, q ) === 1 ) {
             correctText.className = 'enabled_notice';
             correctText.innerHTML = 'p and q are coprime and valid';
             button.disabled = false;
     } else {
         var correctText = document.getElementById( 'pq_check' );
         correctText.className = 'disabled_notice';
         correctText.innerHTML = 'p and q must be coprime and positive';
         button.disabled = true;
     }
 }
 
 checkGCD()
</script>
